## Copie este arquivo para local.properties e ajuste o caminho do SDK.
## Exemplo Windows:
# sdk.dir=C\:\\Users\\SEU_USUARIO\\AppData\\Local\\Android\\Sdk

sdk.dir=C\:\\Users\\leonardo.costa\\AppData\\Local\\Android\\Sdk
